.footer {
  background-color: #304054;
  padding: 80px 0 125px;
  color: #718db2;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 264px 164px 164px 264px;
  gap: 30px 20px;
}
.footer-info {
}
.footer-info__logo {
  margin-bottom: 30px;
}
.footer-info__text {
  font-size: 13px;
  line-height: 22px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer__title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #d0e4ff;
  margin-bottom: 30px;
}
.footer-menu {
}
.footer__list {
  list-style: none;
}
.footer__list a {
  font-size: 13px;
  margin-bottom: 8px;
  color: #718db2;
}
.footer-form {
}
.footer-form input,
.footer-form textarea {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  height: 38px;
  display: block;
  width: 100%;
  padding: 0 12px;
  color: #718db2;
  font-size: 11px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.footer-form input::placeholder,
.footer-form textarea::placeholder {
  color: #718db2;
  font-size: 11px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.footer-form textarea {
  padding: 12px;
  height: 85px;
  resize: none;
  margin-bottom: 10px;
}
.footer-form button {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #2575e7;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 1065px) {
  .footer__inner {
    grid-template-columns: 164px 164px 264px;
  }
  .footer__item:first-child {
    grid-column: 1/-1;
  }
}
@media (max-width: 740px) {
  .footer__inner {
    justify-content: flex-start;
    grid-template-columns: 164px 1fr;
  }
  .footer__item:last-child {
    grid-column: 1/-1;
  }
}

@media (max-width: 400px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
  }
  
}
