a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  color: #4a6385;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 150px 0 180px;
}

.section__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #2f3f54;
}

.section__title span {
  color: #2c7de8;
}
@media (max-width: 740px) {
  .section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

@media (max-width: 399px) {
  .section__title {
    font-size: 33px;
    line-height: 40px;
  }
}
