.btn-menu {
  width: 40px;
  display: none;
}
.btn-menu div {
  height: 5px;
  background-color: #111;
  margin-bottom: 5px;
}
.menu__list {
  display: flex;
}

.menu__list li {
  /*erste pading menus weg mache*/
  margin-left: 38px;
}

.menu__list a {
  font-size: 14px;
  color: #2f3f54;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.menu__list a:hover {
  color: #2c7de8;
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease-out 0.5s;
}

@media (max-width: 992px) {
  .menu__list {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    z-index: 5;
  }
  .menu__list li {
    margin-left: 0;
  }
  .menu__list a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    background-color: #fff;
  }
  .btn-menu {
    display: block;
  }
}



@media (min-width: 992px) {
  .menu__list {
    display: flex !important;
  }
}
