.price {
  padding: 150px 0 180px;
}

.price__description {
  text-align: center;
  max-width: 594px;
  margin: 35px auto 125px;
}

.price__items-box {
  display: flex;
  gap: 50px 30px;
}

.price__item {
}

.price-item {
  max-width: 360px;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  padding: 0 50px 60px;
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.price-item__number {
  width: 265px;
  height: 465px;
  border-radius: 136px / 200px;
  color: #fff;
  background-color: #2c7de8;
  position: absolute;
  top: -370px;
  font-weight: 700;
  font-size: 33px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}
.price-item__number span {
  font-size: 16px;
}
.price-item__images {
  padding-top: 120px;
  text-align: center;
  margin-bottom: 30px;
  min-height: 151px;
}

.price-item__title {
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
  color: #2c7de8;
}

.price-item__text {
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
}

.price-item__list {
  margin-bottom: 75px;
  list-style: none;
}
.price-item__list li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 36px;
  position: relative;
}
.price-item__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/price-icon.png");
  width: 15px;
  height: 11px;
}
.price-item__btn {
  font-size: 17px;
  color: #fff;
  background-color: #2c7de8;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 10px;
}
@media (max-width: 1160px) {
  .price__items-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .price-item__number {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 399px) {
  .price__description {
    margin: 35px auto 58px;
  }
  .price {
    padding: 50px 0 80px;
  }
  .price-item {
    padding: 0 20px 60px;
  }
}
