.reviews {
  padding: 120px 0;
  background-color: #fafafa;
}
.reviews-slider {
  margin-top: 160px;
}
.reviews-slider .slick-list {
  margin: 0 -50px;
}
.reviews-slider .slick-slide {
  margin: 0 50px;
  padding-bottom: 70px;
}
.reviews-box {
  display: flex;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.05);
}
.reviews-slider__item {
  padding: 0px 0 50px 0;
}
.reviews-box__images {
  background-color: #2575e7;
  width: 190px;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews-box__images img {
  border-radius: 50%;
}
.reviews-box__content {
  background-color: #fff;
  width: 346px;
  font-size: 16px;
  line-height: 26px;
  padding: 0 40px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviews-box__text {
  margin-bottom: 30px;
}
.reviews-box__author span {
  color: #2575e7;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.reviews-slider .slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
}
.reviews-slider .slick-dots li {
  margin: 0 8px;
}
.reviews-slider .slick-dots li.slick-active button {
  background-color: #fff;
  border: 2px solid #2575e7;
}
.reviews-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #2575e7;
  outline: none;
}
@media (max-width: 1265px) {
  .reviews-slider .slick-list {
    margin: 0;
  }
  .reviews-slider .slick-slide {
    margin: 0;
  }
  .reviews-box {
    box-shadow: none;
    box-shadow: 0 0 0 0 transparent;
  }
}

@media (max-width: 1105px) {
  .reviews-slider {
    margin-top: 60px;
  }
  .reviews-box {
    margin: 0 auto;
    max-width: 520px;
  }
}
@media (max-width: 580px) {
  .reviews-box {
    display: block;
  }
  .reviews-box__images {
    width: 100%;
    min-height: 200px;
  }
  .reviews-box__content {
    width: 100%;
    padding: 20px;
    min-height: 260px;
  }
  .reviews-slider .slick-slide {
    padding-bottom: 30px;
  }
}
