.testimonial__items {
  min-height: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 115px 0 115px 0;
}
.testimonial__logo {
}
.testimonial__logo img {
  max-width: 160px;
  margin-left: 40px;
}
.testimonial__logo--hp img {
  max-width: 80px;
  margin-left: 40px;
}

@media (max-width: 1240px) {
  .testimonial__items {
    flex-wrap: wrap;
  }
}
.testimonial__logo {
  width: 100;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
