.top {
  background-color: #2c7de8;
  padding-top: 150px;
  padding-bottom: 180px;
}

.top__inner {
  display: flex;
}
.top__info {
  margin-left: 2.9vw;
  margin-right: 35px;
}

.top-info {
  max-width: 555px;

  color: #fff;
}

.top-info__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.top-info__description {
  font-size: 19px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 35px;
}

.top-info__description span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.top-info__list {
  list-style: none;
  margin-bottom: 50px;
}

.top-info__list li {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
  position: relative;
  padding-left: 24px;
  /*    24 px  reserve für zeichens*/
}

.top-info__list li::before {
  content: "";
  background-image: url("../images/list-icon.png");
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  /*   für zeichens*/
  top: 50%;
  transform: translateY(-50%);
}

.top-info__btn {
  color: #fff;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 13px 44px;
  border-radius: 24px;
  margin-bottom: 15px;
}

.top-images {
  position: relative;
}

.top-images__box {
  /* position: relative;*/
}

.top-images__circle {
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #212121;
  position: absolute;
  top: -65px;
  right: -60px;
}

.top-images__title {
  margin-bottom: 15px;
  -ms-text-align-last: auto;
  text-align: left;
  width: 140px;
}

.top-images__price {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 5px;
}

.top-images__date {
  text-align: right;
  width: 140px;
}

@media (max-width: 1065px) {
  .top-info {
    max-width: 425px;
  }
}

@media (max-width: 940px) {
  .top-info {
    max-width: 325px;
  }
}

@media (max-width: 855px) {
  .top-images__box img {
    width: 300px;
  }
  .top-images__circle {
    width: 160px;
    height: 160px;
    top: -30px;
    right: -30px;
  }
}
@media (max-width: 740px) {
  .top__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .top-info {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 75px;
  }
}

@media (max-width: 399px) {
  .top-info__title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
  }
  .top-images__circle {
    top: -5px;
    right: 10px;
  }
  .top-images__title {
    width: 120px;
  }
  .top-images__price {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  .top-images__date {
    width: 120px;
  }
}
